* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden; /* ჰორიზონტალური სკროლის გამორთვა */
}


header {
 /* ჰედერის ფონი */
    text-align: center;
    background-color:  rgb(196, 201, 205);
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 150px;
   
}

header section.menubox div.title p b{
    font-weight: 600;
}
header section.menubox div.title p i{
    font-weight: 100;
    font-size: 50px;
}


header section.menubox{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    
}
header section.menubox div.select{
    padding-right: 50px;
    display: flex;
    margin-top: 20px;
}

.select nav ul li{
    list-style: none;

}
.select nav ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    font-size: 17px;
    color: black;
  
    
}



.select nav ul li a:hover{
    color: rgb(39, 106, 16);
    transition: 5ms;
    
}

section.banner  {
    background-image: url(./image/mainpagebanner.avif);
    
    width: 100vw; /* სიგანე ეკრანის 100% */
    height: 100vh; /* სიმაღლე ეკრანის 100% */
    
    background-size: cover; /* პროპორციების შენარჩუნება */
    background-repeat: no-repeat; /* სურათი არ განმეორდეს */
    background-position: center; /* სურათი ცენტრში */
    background-attachment: fixed;
    
}
section.banner h1{
  padding-top: 200px;
  padding-left: 80px;
  font-size: 40px;
  font-weight: 200;
  
}
section.menudetail div{
    width: 100%;
    background-color: white;
    display: flex;
    gap: 50px;
    margin-left: 100px;
    margin-top: 40px;
    
    
    
}
section.menudetail {
    height: 200px;
    
}

section.menudetail h2{
    font-size: 55px;
}
section.menudetail p{
    font-size: 18px;
    margin-top: 20px;
}
section.menudetail div.MENU{
    
    margin-left: 450px;
    margin-top: 40px;
    font-size: 25px;
    gap: 50px;
}

section.menudetail div.MENU a.MENU{
    color: black;
}

img.soup{
    width: 750px;
    height: 790px;
    object-fit: cover;
    border-radius: 5px;
}
img.coctail{
    width: 730px;
    height: 790px;
    object-fit: cover;
    border-radius: 5px;
}

section.imagesection{
    margin-left: 10px;
    display: flex;
    gap: 15px;
}
section.aboutus{
    height: 500px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    background-color: rgb(183, 183, 135);
    
}

section.aboutus h3{
   font-size: 70px;
   margin-top: 90px;
   margin-left: 250px;
}

section.aboutus div p{
    margin-top: 100px;
    font-size: 20px;
}
section.aboutus div div.aboutus{
    margin-top: 60px;
   
}
section.aboutus div div.aboutus a{
    color: black;
    font-size: 25px;

}
section.followus{
    display: flex;
    justify-content: space-around;
    height: 150px;
}

section.followus h3{
  font-size: 70px;
  margin-top: 40px;
}

section.followus a{
    margin-top: 90px;
    color: black;
    font-size: 20px;

}






/* carousel */
.custom-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 50px 0;
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
  }
  
  .carousel-track {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    flex: 0 0 calc(25% - 10px); /* 4 ფოტო ერთ რიგში */
    height: 600px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    border-radius: 40px;
  }
  
  .carousel-btn.prev {
    left: 10px;
  }
  
  .carousel-btn.next {
    right: 10px;
  }
  footer{
    background-color: rgb(196, 201, 205);
    height: 450px;
    display: flex;
    justify-content: space-between;
    margin-top:0px;
    
  }
  div.secondselect{
    margin-right: 50px;
    margin-top: 100px;
  }
  div.secondselect nav ul li{
    list-style: none;
  }
  .secondselect nav ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    color: black;
  }
  .secondselect nav ul li a:hover{
    color: rgb(39, 106, 16);
    transition: 5ms;
  }
  .adress{
    margin-top: 150px;
    margin-right: 40px;
  }
  .adress p{
    font-size: 18px;
  }
  .keyword{
    margin-left: 70px;
    margin-top: 150px;
  }
  .keyword p:nth-child(1){
    font-size: 25px;
  }
  .keyword p:nth-child(1) b{
    font-size: 60px;
  }
  .keyword p:nth-child(1) i{
    font-size: 30px;
  }
  .keyword p:nth-child(2){
    margin-top: 40px;
    font-size: 18px;
  }

  section.menu{
    display: flex;
    background-attachment: fixed;
    background-color: #d5cacab8;
    display: flex;
    height: 1035px;
    
    
    
  }

  section.menu div:nth-child(2){

    margin-top: 180px;
  }
  section.menu div:nth-child(2) h3{
    font-size: 65px;
  }
  section.menu div:nth-child(2) section#food h5{
    font-size: 30px;
    font-weight: 200;
    margin-top: 50px;
    display: flex;
  }
  .dishes text{

    font-size: 15px;
  }
  .forprice{
    margin-top: 10PX;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .forprice p{
    font-size: 18px;
  }

  
  
  section.menu div img{
    
    width: 50vw; /* ეკრანის ნახევრამდე იყოს */
    height: auto; /* პროპორციების შენარჩუნება */
    object-fit: cover; /* სურათის სწორად შევსება */
    object-position: left top; /* მარცხენა კუთხეს მიეწებოს */
    transform: scale(0.9); /* შემცირება, რომ შიგნით შორს გამოჩნდეს */
    transform-origin: left top; /* მარცხენა ზედა კუთხე დარჩეს უცვლელი */
    position: relative;
  }
  .line{
    background-color:#978d8dfd;
    width: 700px;
    height: 1px;
    margin-top: 15px;
  }
  .scroll{
    height: calc(100vh - 30px); /* მენიუს ჩარჩოს სიმაღლე */
    overflow-y: auto;
    padding-right: 10px;
    border-radius: 10px; /* ჩარჩოს სილამაზე */
    height: 110vh;
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }

  h5{
    font-size: 30px;
    font-weight: 200;
    margin-top: 50px;

  }
  section#food p.description ,
  section#desserts p.description{
    font-size: 16px;
  }

  /* section#food div.line,
  section#desserts div.line{
    background-color:#978d8dfd;
    width: 700px;
    height: 1px;
    margin-top: 15px;

  } */


  section.aboutus{
    padding-top: 200px;
    height: 900px;
    padding-left: 180px;
    background-color: #85944e89;
  }

  section.aboutus div.flex p{
   font-size: 18px;
   
  }

  div.lineup{
    height: 1px;
  }

  section.contact{
    background-color:#85944e89 ;
    padding-top:100px;
    display: flex;
    gap:15px;
    justify-content: center;
    
}
  
section.contact{
  height: 300px;
}
div.adress1{
  margin-top: 10px;
}
div.time{
  margin-top: 10px;
}
.contactforabout{
  font-size: 60px;
}

div.time p,
div.adress1 p{
  font-size: 18px;
}

.booking{
  padding-bottom: 60px;

  background-color:#85944e89 ;
}
.booking a{
  color: #000;
  font-size: 25px;
  margin-left: 920px;
 
}
 
  
  
  